In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

## Grouping by Category ##

In [2]:
all_cones = pd.read_csv('cones.csv')
all_cones

       Flavor        Color  Price
0  strawberry         pink   3.55
1   chocolate  light brown   4.75
2   chocolate   dark brown   5.25
3  strawberry         pink   5.25
4   chocolate   dark brown   5.25
5   bubblegum         pink   4.75

In [3]:
all_cones.groupby('Flavor').sum()

            Price
Flavor
bubblegum    4.75
chocolate   15.25
strawberry   8.80

In [4]:
cones = all_cones.drop('Color', axis=1).drop(5, axis=0)
cones

       Flavor  Price
0  strawberry   3.55
1   chocolate   4.75
2   chocolate   5.25
3  strawberry   5.25
4   chocolate   5.25

In [5]:
cones.groupby('Flavor').min()

            Price
Flavor
chocolate    4.75
strawberry   3.55

In [6]:
cones.groupby('Flavor').sum()

            Price
Flavor
chocolate   15.25
strawberry   8.80

In [7]:
cones.groupby('Flavor').mean()

               Price
Flavor
chocolate   5.083333
strawberry  4.400000

In [8]:
cones.groupby('Flavor').agg(sum)

            Price
Flavor
chocolate   15.25
strawberry   8.80

In [9]:
cones.groupby('Flavor').agg(np.average)

               Price
Flavor
chocolate   5.083333
strawberry  4.400000

In [10]:
cones.groupby('Flavor').agg(np.max)

            Price
Flavor
chocolate    5.25
strawberry   5.25

In [11]:
def spread(arr):
    return max(arr) - min(arr)

spread(np.array([7, 10, 2]))

8

In [12]:
cones.groupby('Flavor').agg(spread)

            Price
Flavor
chocolate     0.5
strawberry    1.7

In [13]:
cones.groupby('Flavor').agg([min,max])

           Price
             min   max
Flavor
chocolate   4.75  5.25
strawberry  3.55  5.25

In [15]:
all_cones

       Flavor        Color  Price
0  strawberry         pink   3.55
1   chocolate  light brown   4.75
2   chocolate   dark brown   5.25
3  strawberry         pink   5.25
4   chocolate   dark brown   5.25
5   bubblegum         pink   4.75

In [17]:
all_cones.groupby(['Flavor']).agg('max')

                  Color  Price
Flavor
bubblegum          pink   4.75
chocolate   light brown   5.25
strawberry         pink   5.25

In [16]:
all_cones.groupby(['Flavor']).agg({'Color':'max','Price':min})

                  Color  Price
Flavor
bubblegum          pink   4.75
chocolate   light brown   4.75
strawberry         pink   3.55

In [19]:
all_cones.groupby(['Flavor', 'Color']).count()

                        Price
Flavor     Color
bubblegum  pink             1
chocolate  dark brown       2
           light brown      1
strawberry pink             2

In [17]:
all_cones.groupby(['Flavor', 'Color']).agg(np.average)

                        Price
Flavor     Color
bubblegum  pink          4.75
chocolate  dark brown    5.25
           light brown   4.75
strawberry pink          4.40

## Examples ##

In [18]:
nba = pd.read_csv('nba_salaries.csv').rename(columns={"'15-'16 SALARY":"SALARY"})
nba

              PLAYER POSITION                TEAM     SALARY
0       Paul Millsap       PF       Atlanta Hawks  18.671659
1         Al Horford        C       Atlanta Hawks  12.000000
2     Tiago Splitter        C       Atlanta Hawks   9.756250
3        Jeff Teague       PG       Atlanta Hawks   8.000000
4        Kyle Korver       SG       Atlanta Hawks   5.746479
..               ...      ...                 ...        ...
412        Gary Neal       PG  Washington Wizards   2.139000
413     DeJuan Blair        C  Washington Wizards   2.000000
414  Kelly Oubre Jr.       SF  Washington Wizards   1.920240
415   Garrett Temple       SG  Washington Wizards   1.100602
416     Jarell Eddie       SG  Washington Wizards   0.561716

[417 rows x 4 columns]

In [20]:
# total salary paid by each team, highest first

nba[['TEAM', 'SALARY']].groupby('TEAM').agg('sum').sort_values(by='SALARY', ascending=False)

                            SALARY
TEAM
Cleveland Cavaliers     102.312412
Oklahoma City Thunder    96.832165
Golden State Warriors    94.085137
Memphis Grizzlies        93.796439
Washington Wizards       90.047498
Houston Rockets          85.285837
San Antonio Spurs        84.652074
Charlotte Hornets        84.102397
Miami Heat               81.528667
New Orleans Pelicans     80.514606
Chicago Bulls            78.820890
Orlando Magic            77.623940
Toronto Raptors          74.672620
Atlanta Hawks            69.573103
New York Knicks          69.404994
Los Angeles Lakers       68.607944
Sacramento Kings         68.384890
Los Angeles Clippers     66.074113
Minnesota Timberwolves   65.847421
Dallas Mavericks         65.762559
Indiana Pacers           62.695023
Denver Nuggets           62.429404
Brooklyn Nets            57.306976
Utah Jazz                52.631878
Milwaukee Bucks          52.258355
Phoenix Suns             50.520815
Boston Celtics           50.285499
Portland Trail Blazers   45.446878
Philadelphia 76ers       42.481345
Detroit Pistons          42.211760

In [30]:
# average salary paid for each position

nba[['POSITION', 'SALARY']].groupby('POSITION').agg(np.average)

            SALARY
POSITION
C         6.082913
PF        4.951344
PG        5.165487
SF        5.532675
SG        3.988195

In [26]:
# for each team, average salary paid for each position

nba.drop('PLAYER',axis=1).groupby(['POSITION', 'TEAM']).mean()

                                SALARY
POSITION TEAM
C        Atlanta Hawks        7.585417
         Boston Celtics       2.450465
         Brooklyn Nets        1.362897
         Charlotte Hornets    6.772240
         Chicago Bulls       10.424380
...                                ...
SG       Sacramento Kings     3.410876
         San Antonio Spurs    6.407000
         Toronto Raptors      5.350000
         Utah Jazz            3.779006
         Washington Wizards   2.839248

[147 rows x 1 columns]

## Pivot Tables ##

In [31]:
all_cones

       Flavor        Color  Price
0  strawberry         pink   3.55
1   chocolate  light brown   4.75
2   chocolate   dark brown   5.25
3  strawberry         pink   5.25
4   chocolate   dark brown   5.25
5   bubblegum         pink   4.75

In [26]:
all_cones.groupby(['Flavor', 'Color']).count()

                        Price
Flavor     Color
bubblegum  pink             1
chocolate  dark brown       2
           light brown      1
strawberry pink             2

In [49]:
pd.pivot_table(all_cones, columns='Flavor', index='Color')

                Price
Flavor      bubblegum chocolate strawberry
Color
dark brown        NaN      5.25        NaN
light brown       NaN      4.75        NaN
pink             4.75       NaN        4.4

In [33]:
pd.pivot_table(all_cones, columns='Flavor', index='Color', values='Price', aggfunc=np.average)

Flavor       bubblegum  chocolate  strawberry
Color
dark brown         NaN       5.25         NaN
light brown        NaN       4.75         NaN
pink              4.75        NaN         4.4

In [34]:
pd.pivot_table(all_cones, columns='Flavor', index='Color', values='Price', aggfunc=np.average, fill_value=0)

Flavor       bubblegum  chocolate  strawberry
Color
dark brown        0.00       5.25         0.0
light brown       0.00       4.75         0.0
pink              4.75       0.00         4.4

In [35]:
pd.pivot_table(all_cones, columns='Flavor', index='Color', values='Price', aggfunc='count', fill_value=0)

Flavor       bubblegum  chocolate  strawberry
Color
dark brown           0          2           0
light brown          0          1           0
pink                 1          0           2

## Examples ##

In [50]:
nba

              PLAYER POSITION                TEAM     SALARY
0       Paul Millsap       PF       Atlanta Hawks  18.671659
1         Al Horford        C       Atlanta Hawks  12.000000
2     Tiago Splitter        C       Atlanta Hawks   9.756250
3        Jeff Teague       PG       Atlanta Hawks   8.000000
4        Kyle Korver       SG       Atlanta Hawks   5.746479
..               ...      ...                 ...        ...
412        Gary Neal       PG  Washington Wizards   2.139000
413     DeJuan Blair        C  Washington Wizards   2.000000
414  Kelly Oubre Jr.       SF  Washington Wizards   1.920240
415   Garrett Temple       SG  Washington Wizards   1.100602
416     Jarell Eddie       SG  Washington Wizards   0.561716

[417 rows x 4 columns]

In [51]:
# for each team, average salary paid for each position
pd.pivot_table(nba, columns='POSITION', index='TEAM', values = 'SALARY', aggfunc = np.average)

POSITION                        C         PF         PG         SF        SG
TEAM
Atlanta Hawks            7.585417  11.002496   4.881700   3.000000  1.809692
Boston Celtics           2.450465   3.085480   4.974651   4.417161  2.007554
Brooklyn Nets            1.362897   4.452514   3.900000  13.040323  1.741178
Charlotte Hornets        6.772240   4.685770   4.485304   3.766422  4.042384
Chicago Bulls           10.424380   3.467443  11.171532   1.958160  6.194465
Cleveland Cavaliers      7.752343  19.689000   6.551592  22.970500  8.988765
Dallas Mavericks         3.235482  11.913507   4.418183  15.361500  1.215174
Denver Nuggets           2.616305   7.024978   3.723620   7.195773  0.841949
Detroit Pistons          4.090697        NaN  13.913044   1.716216  4.580880
Golden State Warriors    6.541249   7.186367   8.457256   4.496695  9.000500
Houston Rockets         22.359364   1.755114   9.445491   4.919715  9.058536
Indiana Pacers           4.000000   2.471595   4.003513   6.968303  5.700000
Los Angeles Clippers     1.100602   9.509585   8.509072   2.238301  3.190104
Los Angeles Lakers       8.286783   2.253023   5.103120  10.306390  7.000000
Memphis Grizzlies        9.899722   3.364087   4.225987   5.709390  2.676720
Miami Heat                    NaN  10.197132   7.654046   3.564757  7.123384
Milwaukee Bucks          2.109294   4.047830   3.415350   1.319653  8.144347
Minnesota Timberwolves   6.426013   4.796280   5.376813   1.603210  6.421840
New Orleans Pelicans     4.850122   6.140243   3.830596   1.934208  8.806167
New York Knicks         12.650000   3.379299   3.283336   8.180910  4.422529
Oklahoma City Thunder    9.343270   5.821013   7.255246   6.522154  3.207058
Orlando Magic           11.250000   5.389060   3.051608  16.000000  3.740735
Philadelphia 76ers       4.604820   3.467184   2.144772   3.983638  1.769094
Phoenix Suns             8.403560   2.194903   3.592017   3.770540  0.869973
Portland Trail Blazers   4.470774   2.079564   4.236287   5.468477  2.124524
Sacramento Kings         8.983410        NaN   7.256780   5.562825  3.410876
San Antonio Spurs        4.650000  10.594093   5.987908   6.245388  6.407000
Toronto Raptors          3.105494   3.048442   4.756891   6.225972  5.350000
Utah Jazz                1.674385   2.654025   1.973742   6.146973  3.779006
Washington Wizards       8.739130   5.246667   6.720472   4.142925  2.839248

In [52]:
# For each team, amount paid to "starter" (player earning the most) in each position

starters=pd.pivot_table(nba, columns='POSITION', index='TEAM', values = 'SALARY', aggfunc = np.max)
starters

POSITION                        C         PF         PG         SF         SG
TEAM
Atlanta Hawks           12.000000  18.671659   8.000000   4.000000   5.746479
Boston Celtics           2.616975   5.000000   7.730337   6.796117   3.425510
Brooklyn Nets            1.362897  11.235955   6.300000  24.894863   3.425510
Charlotte Hornets       13.500000   7.000000  12.000000   6.331404  13.125306
Chicago Bulls           13.400000   5.543725  20.093064   2.380440  16.407500
Cleveland Cavaliers     14.260870  19.689000  16.407501  22.970500   8.988765
Dallas Mavericks         5.200000  15.493680   5.378974  15.361500   1.449000
Denver Nuggets           5.613500  11.235955   4.345000  14.000000   1.584480
Detroit Pistons          6.500000        NaN  13.913044   2.841960   6.270000
Golden State Warriors   13.800000  14.260870  11.370786  11.710456  15.501000
Houston Rockets         22.359364   2.489530  12.404495   8.193030  15.756438
Indiana Pacers           4.000000   4.050000   7.000000  17.120106  10.300000
Los Angeles Clippers     1.100602  18.907726  21.468695   3.376000   7.085000
Los Angeles Lakers      15.592217   3.132240   5.103120  25.000000   7.000000
Memphis Grizzlies       19.688000   9.638555   9.588426   9.450000   5.158539
Miami Heat                    NaN  22.192730  14.783000  10.151612  20.000000
Milwaukee Bucks          2.109294   5.152440   6.600000   1.953960  14.700000
Minnesota Timberwolves  12.100000   8.500000  12.700000   2.056920   7.085000
New Orleans Pelicans     9.213483   8.500000  10.595507   3.382023  15.514031
New York Knicks         12.650000   4.131720   7.402812  22.875000   8.000000
Oklahoma City Thunder   16.407500  12.250000  16.744218  20.158622   5.138430
Orlando Magic           11.250000   8.193029   8.344497  16.000000   5.192520
Philadelphia 76ers       4.626960   6.500000   2.144772  10.105855   2.869440
Phoenix Suns            13.000000   5.500000  13.500000   5.500000   2.127840
Portland Trail Blazers   6.980802   3.075880   4.236287   8.042895   6.000000
Sacramento Kings        15.851950        NaN   9.500000  12.403101   6.060606
San Antonio Spurs        7.500000  19.689000  13.437500  16.407500  10.000000
Toronto Raptors          4.660482   6.268675  12.000000  13.600000  10.050000
Utah Jazz                2.900000   4.775000   3.777720  15.409570   9.463484
Washington Wizards      13.000000   8.000000  15.851950   5.613500   5.694674

In [53]:
# For each team, amount paid to "starter" (player earning the most) in each position
# fill missing values with 0
starters=pd.pivot_table(nba, columns='POSITION', index='TEAM', values = 'SALARY', aggfunc = np.max, fill_value=0)
starters

POSITION                        C         PF         PG         SF         SG
TEAM
Atlanta Hawks           12.000000  18.671659   8.000000   4.000000   5.746479
Boston Celtics           2.616975   5.000000   7.730337   6.796117   3.425510
Brooklyn Nets            1.362897  11.235955   6.300000  24.894863   3.425510
Charlotte Hornets       13.500000   7.000000  12.000000   6.331404  13.125306
Chicago Bulls           13.400000   5.543725  20.093064   2.380440  16.407500
Cleveland Cavaliers     14.260870  19.689000  16.407501  22.970500   8.988765
Dallas Mavericks         5.200000  15.493680   5.378974  15.361500   1.449000
Denver Nuggets           5.613500  11.235955   4.345000  14.000000   1.584480
Detroit Pistons          6.500000   0.000000  13.913044   2.841960   6.270000
Golden State Warriors   13.800000  14.260870  11.370786  11.710456  15.501000
Houston Rockets         22.359364   2.489530  12.404495   8.193030  15.756438
Indiana Pacers           4.000000   4.050000   7.000000  17.120106  10.300000
Los Angeles Clippers     1.100602  18.907726  21.468695   3.376000   7.085000
Los Angeles Lakers      15.592217   3.132240   5.103120  25.000000   7.000000
Memphis Grizzlies       19.688000   9.638555   9.588426   9.450000   5.158539
Miami Heat               0.000000  22.192730  14.783000  10.151612  20.000000
Milwaukee Bucks          2.109294   5.152440   6.600000   1.953960  14.700000
Minnesota Timberwolves  12.100000   8.500000  12.700000   2.056920   7.085000
New Orleans Pelicans     9.213483   8.500000  10.595507   3.382023  15.514031
New York Knicks         12.650000   4.131720   7.402812  22.875000   8.000000
Oklahoma City Thunder   16.407500  12.250000  16.744218  20.158622   5.138430
Orlando Magic           11.250000   8.193029   8.344497  16.000000   5.192520
Philadelphia 76ers       4.626960   6.500000   2.144772  10.105855   2.869440
Phoenix Suns            13.000000   5.500000  13.500000   5.500000   2.127840
Portland Trail Blazers   6.980802   3.075880   4.236287   8.042895   6.000000
Sacramento Kings        15.851950   0.000000   9.500000  12.403101   6.060606
San Antonio Spurs        7.500000  19.689000  13.437500  16.407500  10.000000
Toronto Raptors          4.660482   6.268675  12.000000  13.600000  10.050000
Utah Jazz                2.900000   4.775000   3.777720  15.409570   9.463484
Washington Wizards      13.000000   8.000000  15.851950   5.613500   5.694674

In [55]:
##Which NBA teams spent the most on their “starters” in 2015-2016?
totals=starters.apply(sum, axis=1)
totals

TEAM
Atlanta Hawks             48.418138
Boston Celtics            25.568939
Brooklyn Nets             47.219225
Charlotte Hornets         51.956710
Chicago Bulls             57.824729
Cleveland Cavaliers       82.316636
Dallas Mavericks          42.883154
Denver Nuggets            36.778935
Detroit Pistons           29.525004
Golden State Warriors     66.643112
Houston Rockets           61.202857
Indiana Pacers            42.470106
Los Angeles Clippers      51.938023
Los Angeles Lakers        55.827577
Memphis Grizzlies         53.523520
Miami Heat                67.127342
Milwaukee Bucks           30.515694
Minnesota Timberwolves    42.441920
New Orleans Pelicans      47.205044
New York Knicks           55.059532
Oklahoma City Thunder     70.698770
Orlando Magic             48.980046
Philadelphia 76ers        26.247027
Phoenix Suns              39.627840
Portland Trail Blazers    28.335864
Sacramento Kings          43.815657
San Antonio Spurs         67.034000
Toronto Raptors           46.579157
Utah Jazz                 36.325774
Washington Wizards        48.160124
dtype: float64

In [56]:
starters['TOTAL']=totals

In [51]:
starters

POSITION,C,PF,PG,SF,SG,TOTAL
TEAM,,,,,,
Atlanta Hawks,12.000000,18.671659,8.000000,4.000000,5.746479,48.418138
Boston Celtics,2.616975,5.000000,7.730337,6.796117,3.425510,25.568939
Brooklyn Nets,1.362897,11.235955,6.300000,24.894863,3.425510,47.219225
Charlotte Hornets,13.500000,7.000000,12.000000,6.331404,13.125306,51.956710
Chicago Bulls,13.400000,5.543725,20.093064,2.380440,16.407500,57.824729
Cleveland Cavaliers,14.260870,19.689000,16.407501,22.970500,8.988765,82.316636
Dallas Mavericks,5.200000,15.493680,5.378974,15.361500,1.449000,42.883154
Denver Nuggets,5.613500,11.235955,4.345000,14.000000,1.584480,36.778935
Detroit Pistons,6.500000,0.000000,13.913044,2.841960,6.270000,29.525004
Golden State Warriors,13.800000,14.260870,11.370786,11.710456,15.501000,66.643112
Houston Rockets,22.359364,2.489530,12.404495,8.193030,15.756438,61.202857
Indiana Pacers,4.000000,4.050000,7.000000,17.120106,10.300000,42.470106
Los Angeles Clippers,1.100602,18.907726,21.468695,3.376000,7.085000,51.938023
Los Angeles Lakers,15.592217,3.132240,5.103120,25.000000,7.000000,55.827577
Memphis Grizzlies,19.688000,9.638555,9.588426,9.450000,5.158539,53.523520
Miami Heat,0.000000,22.192730,14.783000,10.151612,20.000000,67.127342
Milwaukee Bucks,2.109294,5.152440,6.600000,1.953960,14.700000,30.515694
Minnesota Timberwolves,12.100000,8.500000,12.700000,2.056920,7.085000,42.441920
New Orleans Pelicans,9.213483,8.500000,10.595507,3.382023,15.514031,47.205044
New York Knicks,12.650000,4.131720,7.402812,22.875000,8.000000,55.059532
Oklahoma City Thunder,16.407500,12.250000,16.744218,20.158622,5.138430,70.698770
Orlando Magic,11.250000,8.193029,8.344497,16.000000,5.192520,48.980046
Philadelphia 76ers,4.626960,6.500000,2.144772,10.105855,2.869440,26.247027
Phoenix Suns,13.000000,5.500000,13.500000,5.500000,2.127840,39.627840
Portland Trail Blazers,6.980802,3.075880,4.236287,8.042895,6.000000,28.335864
Sacramento Kings,15.851950,0.000000,9.500000,12.403101,6.060606,43.815657
San Antonio Spurs,7.500000,19.689000,13.437500,16.407500,10.000000,67.034000
Toronto Raptors,4.660482,6.268675,12.000000,13.600000,10.050000,46.579157
Utah Jazz,2.900000,4.775000,3.777720,15.409570,9.463484,36.325774
Washington Wizards,13.000000,8.000000,15.851950,5.613500,5.694674,48.160124

In [52]:
starters.sort_values(by='TOTAL', ascending=False)

POSITION,C,PF,PG,SF,SG,TOTAL
TEAM,,,,,,
Cleveland Cavaliers,14.260870,19.689000,16.407501,22.970500,8.988765,82.316636
Oklahoma City Thunder,16.407500,12.250000,16.744218,20.158622,5.138430,70.698770
Miami Heat,0.000000,22.192730,14.783000,10.151612,20.000000,67.127342
San Antonio Spurs,7.500000,19.689000,13.437500,16.407500,10.000000,67.034000
Golden State Warriors,13.800000,14.260870,11.370786,11.710456,15.501000,66.643112
Houston Rockets,22.359364,2.489530,12.404495,8.193030,15.756438,61.202857
Chicago Bulls,13.400000,5.543725,20.093064,2.380440,16.407500,57.824729
Los Angeles Lakers,15.592217,3.132240,5.103120,25.000000,7.000000,55.827577
New York Knicks,12.650000,4.131720,7.402812,22.875000,8.000000,55.059532
Memphis Grizzlies,19.688000,9.638555,9.588426,9.450000,5.158539,53.523520
Charlotte Hornets,13.500000,7.000000,12.000000,6.331404,13.125306,51.956710
Los Angeles Clippers,1.100602,18.907726,21.468695,3.376000,7.085000,51.938023
Orlando Magic,11.250000,8.193029,8.344497,16.000000,5.192520,48.980046
Atlanta Hawks,12.000000,18.671659,8.000000,4.000000,5.746479,48.418138
Washington Wizards,13.000000,8.000000,15.851950,5.613500,5.694674,48.160124
Brooklyn Nets,1.362897,11.235955,6.300000,24.894863,3.425510,47.219225
New Orleans Pelicans,9.213483,8.500000,10.595507,3.382023,15.514031,47.205044
Toronto Raptors,4.660482,6.268675,12.000000,13.600000,10.050000,46.579157
Sacramento Kings,15.851950,0.000000,9.500000,12.403101,6.060606,43.815657
Dallas Mavericks,5.200000,15.493680,5.378974,15.361500,1.449000,42.883154
Indiana Pacers,4.000000,4.050000,7.000000,17.120106,10.300000,42.470106
Minnesota Timberwolves,12.100000,8.500000,12.700000,2.056920,7.085000,42.441920
Phoenix Suns,13.000000,5.500000,13.500000,5.500000,2.127840,39.627840
Denver Nuggets,5.613500,11.235955,4.345000,14.000000,1.584480,36.778935
Utah Jazz,2.900000,4.775000,3.777720,15.409570,9.463484,36.325774
Milwaukee Bucks,2.109294,5.152440,6.600000,1.953960,14.700000,30.515694
Detroit Pistons,6.500000,0.000000,13.913044,2.841960,6.270000,29.525004
Portland Trail Blazers,6.980802,3.075880,4.236287,8.042895,6.000000,28.335864
Philadelphia 76ers,4.626960,6.500000,2.144772,10.105855,2.869440,26.247027
Boston Celtics,2.616975,5.000000,7.730337,6.796117,3.425510,25.568939

In [60]:
#Or Alternatively can use group method
# Which NBA teams spent the most on their “starters” in 2015-2016?)
nba.drop('PLAYER', axis=1).groupby(['POSITION', 'TEAM']).agg(max).reset_index().drop('POSITION',axis=1).groupby('TEAM').sum().sort_values(by='SALARY',ascending=False)

                           SALARY
TEAM
Cleveland Cavaliers     82.316636
Oklahoma City Thunder   70.698770
Miami Heat              67.127342
San Antonio Spurs       67.034000
Golden State Warriors   66.643112
Houston Rockets         61.202857
Chicago Bulls           57.824729
Los Angeles Lakers      55.827577
New York Knicks         55.059532
Memphis Grizzlies       53.523520
Charlotte Hornets       51.956710
Los Angeles Clippers    51.938023
Orlando Magic           48.980046
Atlanta Hawks           48.418138
Washington Wizards      48.160124
Brooklyn Nets           47.219225
New Orleans Pelicans    47.205044
Toronto Raptors         46.579157
Sacramento Kings        43.815657
Dallas Mavericks        42.883154
Indiana Pacers          42.470106
Minnesota Timberwolves  42.441920
Phoenix Suns            39.627840
Denver Nuggets          36.778935
Utah Jazz               36.325774
Milwaukee Bucks         30.515694
Detroit Pistons         29.525004
Portland Trail Blazers  28.335864
Philadelphia 76ers      26.247027
Boston Celtics          25.568939